
* {
    --layout-margin-parent: 0px;
    --layout-margin-self: 0px
}

[layout]>* {
    pointer-events: auto;
    flex-shrink: 0
}

[layout] {
    pointer-events: none
}

[layout],
[layout]>* {
    margin: calc(var(--layout-margin-parent) - var(--layout-margin-self))
}

[flex] {
    flex: 1
}

[layout~=column] {
    flex-direction: column
}

[layout~=row] {
    flex-direction: row
}

[layout] {
    display: flex;
    align-items: stretch
}

[layout~=inline] {
    display: inline-flex
}

[layout~=start] {
    align-items: flex-start
}

[layout~=end] {
    align-items: flex-end
}

[layout~=center] {
    align-items: center
}

[layout~=middle] {
    justify-content: center
}

[layout~=around] {
    justify-content: space-around
}

[layout~=between] {
    justify-content: space-between
}

[layout~=content-end] {
    justify-content: flex-end
}

[layout~=wrap] {
    flex-wrap: wrap
}

[layout~=nowrap] {
    flex-wrap: nowrap
}

[layout~=u1] {
    --layout-margin-self: 2px
}

[layout~=u1]>* {
    --layout-margin-parent: 2px
}

[layout~=u2] {
    --layout-margin-self: 4px
}

[layout~=u2]>* {
    --layout-margin-parent: 4px
}

[layout~=u3] {
    --layout-margin-self: 6px
}

[layout~=u3]>* {
    --layout-margin-parent: 6px
}

[layout~=u4] {
    --layout-margin-self: 8px
}

[layout~=u4]>* {
    --layout-margin-parent: 8px
}

[layout~=u5] {
    --layout-margin-self: 10px
}

[layout~=u5]>* {
    --layout-margin-parent: 10px
}

[layout~=u10] {
    --layout-margin-self: 20px
}

[layout~=u10]>* {
    --layout-margin-parent: 20px
}

@media(min-width:576px) {
    [layout-sm~=column] {
        flex-direction: column
    }
    [layout-sm~=row] {
        flex-direction: row
    }
    [layout-sm] {
        display: flex;
        align-items: stretch
    }
    [layout-sm~=inline] {
        display: inline-flex
    }
    [layout-sm~=start] {
        align-items: flex-start
    }
    [layout-sm~=end] {
        align-items: flex-end
    }
    [layout-sm~=center] {
        align-items: center
    }
    [layout-sm~=middle] {
        justify-content: center
    }
    [layout-sm~=around] {
        justify-content: space-around
    }
    [layout-sm~=between] {
        justify-content: space-between
    }
    [layout-sm~=content-end] {
        justify-content: flex-end
    }
    [layout-sm~=wrap] {
        flex-wrap: wrap
    }
    [layout-sm~=nowrap] {
        flex-wrap: nowrap
    }
    [layout-sm~=u1] {
        --layout-margin-self: 2px
    }
    [layout-sm~=u1]>* {
        --layout-margin-parent: 2px
    }
    [layout-sm~=u2] {
        --layout-margin-self: 4px
    }
    [layout-sm~=u2]>* {
        --layout-margin-parent: 4px
    }
    [layout-sm~=u3] {
        --layout-margin-self: 6px
    }
    [layout-sm~=u3]>* {
        --layout-margin-parent: 6px
    }
    [layout-sm~=u4] {
        --layout-margin-self: 8px
    }
    [layout-sm~=u4]>* {
        --layout-margin-parent: 8px
    }
    [layout-sm~=u5] {
        --layout-margin-self: 10px
    }
    [layout-sm~=u5]>* {
        --layout-margin-parent: 10px
    }
    [layout-sm~=u10] {
        --layout-margin-self: 20px
    }
    [layout-sm~=u10]>* {
        --layout-margin-parent: 20px
    }
}

@media(min-width:768px) {
    [layout-md~=column] {
        flex-direction: column
    }
    [layout-md~=row] {
        flex-direction: row
    }
    [layout-md] {
        display: flex;
        align-items: stretch
    }
    [layout-md~=inline] {
        display: inline-flex
    }
    [layout-md~=start] {
        align-items: flex-start
    }
    [layout-md~=end] {
        align-items: flex-end
    }
    [layout-md~=center] {
        align-items: center
    }
    [layout-md~=middle] {
        justify-content: center
    }
    [layout-md~=around] {
        justify-content: space-around
    }
    [layout-md~=between] {
        justify-content: space-between
    }
    [layout-md~=content-end] {
        justify-content: flex-end
    }
    [layout-md~=wrap] {
        flex-wrap: wrap
    }
    [layout-md~=nowrap] {
        flex-wrap: nowrap
    }
    [layout-md~=u1] {
        --layout-margin-self: 2px
    }
    [layout-md~=u1]>* {
        --layout-margin-parent: 2px
    }
    [layout-md~=u2] {
        --layout-margin-self: 4px
    }
    [layout-md~=u2]>* {
        --layout-margin-parent: 4px
    }
    [layout-md~=u3] {
        --layout-margin-self: 6px
    }
    [layout-md~=u3]>* {
        --layout-margin-parent: 6px
    }
    [layout-md~=u4] {
        --layout-margin-self: 8px
    }
    [layout-md~=u4]>* {
        --layout-margin-parent: 8px
    }
    [layout-md~=u5] {
        --layout-margin-self: 10px
    }
    [layout-md~=u5]>* {
        --layout-margin-parent: 10px
    }
    [layout-md~=u10] {
        --layout-margin-self: 20px
    }
    [layout-md~=u10]>* {
        --layout-margin-parent: 20px
    }
}

@media(min-width:992px) {
    [layout-lg~=column] {
        flex-direction: column
    }
    [layout-lg~=row] {
        flex-direction: row
    }
    [layout-lg] {
        display: flex;
        align-items: stretch
    }
    [layout-lg~=inline] {
        display: inline-flex
    }
    [layout-lg~=start] {
        align-items: flex-start
    }
    [layout-lg~=end] {
        align-items: flex-end
    }
    [layout-lg~=center] {
        align-items: center
    }
    [layout-lg~=middle] {
        justify-content: center
    }
    [layout-lg~=around] {
        justify-content: space-around
    }
    [layout-lg~=between] {
        justify-content: space-between
    }
    [layout-lg~=content-end] {
        justify-content: flex-end
    }
    [layout-lg~=wrap] {
        flex-wrap: wrap
    }
    [layout-lg~=nowrap] {
        flex-wrap: nowrap
    }
    [layout-lg~=u1] {
        --layout-margin-self: 2px
    }
    [layout-lg~=u1]>* {
        --layout-margin-parent: 2px
    }
    [layout-lg~=u2] {
        --layout-margin-self: 4px
    }
    [layout-lg~=u2]>* {
        --layout-margin-parent: 4px
    }
    [layout-lg~=u3] {
        --layout-margin-self: 6px
    }
    [layout-lg~=u3]>* {
        --layout-margin-parent: 6px
    }
    [layout-lg~=u4] {
        --layout-margin-self: 8px
    }
    [layout-lg~=u4]>* {
        --layout-margin-parent: 8px
    }
    [layout-lg~=u5] {
        --layout-margin-self: 10px
    }
    [layout-lg~=u5]>* {
        --layout-margin-parent: 10px
    }
    [layout-lg~=u10] {
        --layout-margin-self: 20px
    }
    [layout-lg~=u10]>* {
        --layout-margin-parent: 20px
    }
}

@media(min-width:1200px) {
    [layout-xl~=column] {
        flex-direction: column
    }
    [layout-xl~=row] {
        flex-direction: row
    }
    [layout-xl] {
        display: flex;
        align-items: stretch
    }
    [layout-xl~=inline] {
        display: inline-flex
    }
    [layout-xl~=start] {
        align-items: flex-start
    }
    [layout-xl~=end] {
        align-items: flex-end
    }
    [layout-xl~=center] {
        align-items: center
    }
    [layout-xl~=middle] {
        justify-content: center
    }
    [layout-xl~=around] {
        justify-content: space-around
    }
    [layout-xl~=between] {
        justify-content: space-between
    }
    [layout-xl~=content-end] {
        justify-content: flex-end
    }
    [layout-xl~=wrap] {
        flex-wrap: wrap
    }
    [layout-xl~=nowrap] {
        flex-wrap: nowrap
    }
    [layout-xl~=u1] {
        --layout-margin-self: 2px
    }
    [layout-xl~=u1]>* {
        --layout-margin-parent: 2px
    }
    [layout-xl~=u2] {
        --layout-margin-self: 4px
    }
    [layout-xl~=u2]>* {
        --layout-margin-parent: 4px
    }
    [layout-xl~=u3] {
        --layout-margin-self: 6px
    }
    [layout-xl~=u3]>* {
        --layout-margin-parent: 6px
    }
    [layout-xl~=u4] {
        --layout-margin-self: 8px
    }
    [layout-xl~=u4]>* {
        --layout-margin-parent: 8px
    }
    [layout-xl~=u5] {
        --layout-margin-self: 10px
    }
    [layout-xl~=u5]>* {
        --layout-margin-parent: 10px
    }
    [layout-xl~=u10] {
        --layout-margin-self: 20px
    }
    [layout-xl~=u10]>* {
        --layout-margin-parent: 20px
    }
}

@media(max-width:575.9px) {
    .hide {
        display: none!important
    }
}

@media(min-width:576px)and (max-width:767.9px) {
    .hide-sm:not(.show-sm),
    .hide:not(.show-sm) {
        display: none!important
    }
}

@media(min-width:768px)and (max-width:991.9px) {
    .hide-md:not(.show-md),
    .hide-sm:not(.show-sm):not(.show-md),
    .hide:not(.show-sm):not(.show-md) {
        display: none!important
    }
}

@media(min-width:992px)and (max-width:1199.9px) {
    .hide-lg:not(.show-lg),
    .hide-md:not(.show-md):not(.show-lg),
    .hide-sm:not(.show-sm):not(.show-md):not(.show-lg),
    .hide:not(.show-sm):not(.show-md):not(.show-lg) {
        display: none!important
    }
}

@media(min-width:1200px) {
    .hide-lg:not(.show-lg):not(.show-xl),
    .hide-md:not(.show-md):not(.show-lg):not(.show-xl),
    .hide-sm:not(.show-sm):not(.show-md):not(.show-lg):not(.show-xl),
    .hide-xl:not(.show-xl),
    .hide:not(.show-sm):not(.show-md):not(.show-lg):not(.show-xl) {
        display: none!important
    }
}

.text-button {
    touch-action: manipulation;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    width: auto;
    background-color: #472676;
    transition: background-color .1s ease-out;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 0 8px;
    display: inline-block;
    font-size: .85rem
}

.text-button:hover {
    text-decoration: none
}

.text-button.active,
.text-button:hover {
    background-color: #705695
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s ease-out
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0
}

.scrollbar-dark {
    scrollbar-color: #705695 #1e0230;
    scrollbar-width: thin
}

.scrollbar-dark::-webkit-scrollbar {
    width: 6px
}

.scrollbar-dark::-webkit-scrollbar-track {
    background: #1e0230
}

.scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: #705695
}

* {
    box-sizing: border-box;
    font-family: Montserrat, Helvetica, Arial, sans-serif
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #2e006a
}

body.menu-opened {
    position: fixed;
    width: 100%;
    height: 100%
}

body.compensate-scroll {
    margin-right: calc(100% - 100vw)
}

#app {
    display: flex;
    justify-content: stretch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    padding: 0;
    min-height: 100vh;
    position: relative
}

body.flag-dimBackground:before {
    content: "";
    pointer-events: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: 0;
    will-change: opacity;
    transition: opacity .5s ease-in-out
}

body.flag-dimBackground.mode-experiment:before {
    opacity: .5
}

#nav {
    padding: 30px
}

#nav a {
    font-weight: 700;
    color: #2c3e50
}

#nav a.router-link-exact-active {
    color: #796bbc
}

a {
    color: #837e9b;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.entry img {
    width: 100%
}