.button{
	display: block;
	width:60px;
	height:60px;
  	line-height: 60px;
	color:#FFF;
	border-radius:50%;
  	font-size: 13px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
	vertical-align: top;
}

.start-stop-button{
	display: block;
	width:60px;
	height:60px;
	line-height: 85px;
	color:#FFF;
	border-radius:50%;
	font-size: 13px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
	vertical-align: center;
}

.button-img{
	width: auto;
	height: 60px;
	padding: 5px 5px 5px 5px;
}

.button-img-top{
	width: auto;
	height: 60px;
	padding: 0px 5px 5px 5px;
}

.button-img:hover{
	opacity: 0.7;
}

.left-space{
	margin-left: 10px !important;
}

.button-clearAll{
	display: block;
	width:140px;
	height:60px;
  	line-height: 60px;
	color:#FFF;
	border-radius:5%;
  	font-size: 15px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.button-Instruction{
	display: block;
	width:140px;
	height:40px;
	line-height: 40px;
	color:#FFF;
	border-radius:5%;
	font-size: 15px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.black-ball{
  background-color:black;
}

.black-ball:hover{
  background-color:#2A2A2A;
}

.white-ball{
  background-color: white;
  color: black;
}

.white-ball:hover{
  background-color: #F5F5F5;
}

.reset{
	background-color:#EE220C;
}

.reset:hover {
  background-color: #A51808;
}

.start{
  background-color: #7cfc00;
  color: black;
}

.start:hover{
  background-color: green;
}

.PETE{
}

.my-float{
	margin-top:22px;
}

.instruction{
	background-color: orange;
	color: black;
}

.instruction:hover{
	background-color: darkorange;
}