.expand-div-across-full-width {
    width: 90vw;
    position: relative;
    left: calc(-45vw + 50%);
}

/*hide div on all screens with 700 and higher width*/
@media only screen and (max-width: 1200px) {
    .expand-div-across-full-width {
        width: 100vw;
        height: 100vh;
        position: relative;
        left: calc(-51vw + 51%);
    }

    .center, .canvas-inset{
        width: 100vw;
        float: none;
        margin: 0 0%;
        left: calc(-41vw + 50%);
    }

    .row{
        width: 90vw;
    }
}