.left, .center{
    float: left;
    margin: 0 1.5%;

}



/*hide div on all screens with 700 and lower width*/
@media only screen and (max-width: 780px) {
    .left{
        width: 15%;
        height: 90vh;
    }

    .center{
        width: 78%;
        height: 80vh;
    }
}

/*hide div on all screens with 700 and higher width*/
@media only screen and (min-width: 780px) {
    .left{
        width: 15%;
        height: 70vh;
    }

    .center{
        width: 78%;
        height: 75vh;
    }
}

.explanation{
    position: absolute;
    bottom: 0%;
}

.title{
    font-size: 75%;
    font-weight: bold;
}

.description{
    font-size: 70%;
}

.built-by-note{
    font-size:16px;
    margin: 0 1.5%;
}


div.scrollmenu {
    overflow: auto;
    white-space: nowrap;

}

/* Hide scrollbar for Chrome, Safari and Opera */
div.scrollmenu::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
div.scrollmenus {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/*hide div on all screens with 700 and higher width*/
@media only screen and (max-width: 1000px) {
    .standardControlls {
        display:none;
    }
}

/*hide div on all screens with 700 and higher width*/
@media only screen and (min-width: 1000px) {
    .mobileControlls{
        display:none;
    }
}

.controll-box{
    display: inline-block;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}

.controll-line{
    display: inline;
}

.border-left {
    border-left: 2px solid #A9A9A9;
}

a{
    text-decoration: none !important;
}