:root {
    --small-dimension: 10vw;
    --large-dimension: 100%;
}

.green-line{
    border: 3px solid green;
}

.blue-line{
    border: 3px solid blue;
}

.red-line{
    border: 3px solid red;
}

.left, .center, .right{
    float: left;
    margin: 0 1.5%;

}

.left{
    width: 15%;
    height: 90vh;
}

.center{
    width: 78%;
    height: 80vh;
}

.right{
    width: 8%;
}

.explanation{
    position: absolute;
    bottom: 0%;
}

.title{
    font-size: 75%;
    font-weight: bold;
}

.description{
    font-size: 70%;
}

.built-by-note{
    font-size:16px;
    margin: 0 1.5%;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}