#desc {
  position : absolute;
  top: 5px;
  left: 5px;
}

.min-well{
  min-width: 50vw;
}

.controll-box{
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}

.expand-child-past-parent {
  width: 90vw;
  position: relative;
  left: calc(-38vw + 45%);
}

.expand-child-marginally-past-parent {
  width: 70vw;
  position: relative;
  left: calc(-25vw + 35%);
}

.canvas-box{
  height: 50%;
}

.row-bottom-margin { margin-bottom: 0px; }
.row-top-margin { margin-top: 30px; }

.border-right {
  border-right: 1px solid #A9A9A9;
  height: 220px;
}

.border-bottom {
  border-bottom: 1px dashed black;
  width: 100%;
}

.border-middle {
  background-image: linear-gradient(to bottom, black 40%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 1px 10px;
  background-repeat: repeat-y;
  height: 180px;
}

.center-divs{
  position: absolute;
  left: 5%;
}

.green-line{
  border: 3px solid green;
}