#desc {
  position : absolute;
  top: 5px;
  left: 5px;
}

.box-controlls{
  height: 790px;
}

.min-well{
  min-width: 50vw;
}

.right-box{
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}

.left-box{
  font-size: 68%;
}

.expand-child-past-parent {
  width: 90vw;
  position: relative;
  left: calc(-38vw + 45%);
}

.expand-child-marginally-past-parent {
  width: 70vw;
  position: relative;
  left: calc(-25vw + 35%);
}

.row-bottom-margin { margin-bottom: 0px; }
.row-top-margin { margin-top: 30px; }
